# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv
ENV
.eggs
*.egg-info
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
data/
output/
*.ipynb_checkpoints
.DS_Store

# Build
dist
build
*.egg
